
extends layout
include mixins/mostrarCliente.pug
block contenido

    .container
        if resPlaca
            +mostrarCliente(resPlaca)

        else
            .alert.alert-danger(role='alert') 
                .alert.text-center ERROR: placas no encontradas...

        // Modal
        if resPlaca
            #modalFormularioManto.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog.modal-xl(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLabel.modal-title 
                                strong= `Formulario Mantenimiento Placas: ${resPlaca.placas}`
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            form(method='POST' action=`/agregar-mantenimiento/${resPlaca.id}`)
                                .row
                                    .col
                                        p
                                            strong CARBURACION
                                        .form-group
                                            .btn-group.btn-group-toggle(data-toggle='buttons')
                                                label.btn.btn-outline-secondary
                                                    input#opcionCarburacion1(type='radio' name='carburacion' value='limpieza' )
                                                    |  LIMPIEZA
                                                label.btn.btn-outline-secondary
                                                    input#opcionCarburacion2(type='radio' name='carburacion' value='cambio')
                                                    |  CAMBIO
                                                label.btn.btn-outline-secondary
                                                    input#opcionCarburacion3(type='radio' name='carburacion' value='reparacion')
                                                    |  REPARACION
                                        .form-group
                                            input#carburacionObservacion.form-control(type="text", name='carburacionObservaciones' placeholder='Observaciones...')
                                        
                                                            
                                            

                                    .col
                                        p
                                            strong MOTOR
                                        .input-group.mb-4
                                            .input-group-prepend
                                                .input-group
                                                    .btn-group-toggle(data-toggle='buttons')
                                                        label.btn.btn-outline-secondary
                                                            input(type='checkbox' name='motorCambioAceite' value=1)
                                                            |  Cambio de aceite
                                            input#cambioAceiteObservaciones.form-control(type='text' name='cambioAceiteObservaciones' placeholder='Observaciones...')

                                        
                                        .input-group.mb-4
                                            .input-group-prepend
                                                .input-group
                                                    .btn-group-toggle(data-toggle='buttons')
                                                        label.btn.btn-outline-secondary
                                                            input(type='checkbox' name='motorBujia' value='1')
                                                            |  Bujias
                                            input#bujiasObservaciones.form-control(type='text' name='bujiasObservaciones' placeholder='Observaciones...')
                                        
                                        .input-group.mb-4
                                            .input-group-prepend
                                                .input-group
                                                    .btn-group-toggle(data-toggle='buttons')
                                                        label.btn.btn-outline-secondary
                                                            input(type='checkbox' name='motorFiltroAire' value='1')
                                                            |  Filtro de aire
                                            input#motorFiltroObservaciones.form-control(type='text' name='motorFiltroObservaciones' placeholder='Observaciones...')

                                        .input-group.mb-4
                                            .input-group-prepend
                                                .input-group
                                                    .btn-group-toggle(data-toggle='buttons')
                                                        label.btn.btn-outline-secondary
                                                            input(type='checkbox' name='motorAjuste' value='1')
                                                            |  Ajuste
                                            textarea#motorAjusteObservaciones.form-control(name='motorAjusteObservaciones' placeholder='Observaciones...')
                                .row
                                    .col
                                        p
                                            strong CHASIS
                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisCatarina' value='1')
                                                                |  Catarina
                                                input#catarinaObservaciones.form-control(type='text' name='catarinaObservaciones' placeholder='Observaciones...')

                                            
                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisCadena' value='1')
                                                                |  Cadena
                                                input#cadenaObservaciones.form-control(type='text' name='cadenaObservaciones' placeholder='Observaciones...')
                                            
                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisFrenos' value='1')
                                                                |  Frenos
                                                input#frenosObservaciones.form-control(type='text' name='frenosObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisManecillas' value='1')
                                                                |  Manecillas
                                                input#manecillasObservaciones.form-control(type='text' name='manecillasObservaciones' placeholder='Observaciones...')
                                            
                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisRing' value='1')
                                                                |  Ring
                                                input#ringObservaciones.form-control(type='text' name='ringObservaciones' placeholder='Observaciones...')
                                            
                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisEspejos' value='1')
                                                                |  Espejos
                                                input#espejosObservaciones.form-control(type='text' name='espejosObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisLlantas' value='1')
                                                                |  Llantas
                                                input#llantasObservaciones.form-control(type='text' name='llantasObservaciones' placeholder='Observaciones...')


                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisPatas' value='1')
                                                                |  Patas
                                                input#patasObservaciones.form-control(type='text' name='patasObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisAmortiguadores' value='1')
                                                                |  Amortiguadores
                                                input#amortiguadoresObservaciones.form-control(type='text' name='amortiguadoresObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisCables' value='1')
                                                                |  Cables
                                                input#cablesObservaciones.form-control(type='text' name='cablesObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='chasisEngreseGeneral' value='1')
                                                                |  Engrese General
                                                input#engraseGeneralObservaciones.form-control(type='text' name='engreseGeneralObservaciones' placeholder='Observaciones...')




                                    .col
                                        p
                                            strong ELECTRICO
                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='electricoBobinaArranque' value='1')
                                                                |  Bobina de Arranque
                                                input#bobinaArranqueObservaciones.form-control(type='text' name='bobinaArranqueObservaciones' placeholder='Observaciones...')

                                            
                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='electricoFocoStop' value='1')
                                                                |  Foco de Stop
                                                input#focoStopObservaciones.form-control(type='text' name='focoStopObservaciones' placeholder='Observaciones...')
                                            
                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='electricoFocoDireccionales' value='1')
                                                                |  Focos Direccionales
                                                input#focoDirecionalObservaciones.form-control(type='text' name='focoDireccionalesObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='electricoSealBean' value='1')
                                                                |  Seal Bean
                                                input#sealBeanObservaciones.form-control(type='text' name='sealBeanObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='electricoPito' value='1')
                                                                |  Pito
                                                input#pitoObservaciones.form-control(type='text' name='pitoObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='electricoBateria' value='1')
                                                                |  Bateria
                                                input#bateriaObservaciones.form-control(type='text' name='bateriaObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='electricoFusible' value='1')
                                                                |  Fusibles
                                                input#fusibleObservaciones.form-control(type='text' name='fusibleObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='electricoLuzTablero' value='1')
                                                                |  Luz de Tablero
                                                input#luzTableroObservaciones.form-control(type='text' name='luzTableroObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='electricoAmpolletaDelantera' value='1')
                                                                |  Ampolleta Delantera
                                                input#ampolletaDelanteraObservaciones.form-control(type='text' name='ampolletaDelanteraObservaciones' placeholder='Observaciones...')

                                            .input-group.mb-4
                                                .input-group-prepend
                                                    .input-group
                                                        .btn-group-toggle(data-toggle='buttons')
                                                            label.btn.btn-outline-secondary
                                                                input(type='checkbox' name='motorAmpolletaTrasera' value='1')
                                                                |  Ampolleta Trasera
                                                input#ampolletaTraseraObservaciones.form-control(type='text' name='ampolletaTraseraObservaciones' placeholder='Observaciones...')
                                
                                .row
                                    .col

                                        p
                                            strong Nivel de Gasolina
                                        .form-group
                                            .btn-group.btn-group-toggle(data-toggle='buttons')
                                                label.btn.btn-outline-secondary
                                                    input#opcion1(type='radio' name='nivelGas' value='E' )
                                                    | E
                                                label.btn.btn-outline-secondary
                                                    input#opcion2(type='radio' name='nivelGas' value='1/4')
                                                    | 1/4
                                                label.btn.btn-outline-secondary
                                                    input#opcion3(type='radio' name='nivelGas' value='1/2')
                                                    | 1/2
                                                label.btn.btn-outline-secondary
                                                    input#opcion4(type='radio' name='nivelGas' value='3/4')
                                                    | 3/4
                                                label.btn.btn-outline-secondary
                                                    input#opcion5(type='radio' name='nivelGas' value='F')
                                                    | F

                                    .col
                                        .col-md-6.mb-3
                                            label(for='validationDefaultUsername') Kilometros Actuales
                                            .input-group
                                                    .input-group-prepend
                                                        span#campoKilometros.input-group-text KM
                                                    input#campoKilometros.form-control(type='number' name='kilometros' placeholder='00000000' required='')

                                .row
                                    .input-group
                                        button.btn.btn-primary.btn-block(type='submit') Enviar

                        .modal-footer
                            button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
                        



