

extends layout
block contenido

    .container
        h1.text-center= nombrepagina
        br
        br
        .float-center
            .card.text-center
                .card-header
                    h2 MISION
                .card-body
                    .card-text
                        p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quaerat obcaecati aut tempora doloremque, temporibus, reiciendis minus consectetur voluptatibus optio perspiciatis eum unde illum sed?
